
<form #searchForm = "ngForm" (ngSubmit)="searchMovies(searchTerm); searchForm.reset()" class="navbar-form navbar-left">
	<div class="form-group">
		<input #searchInput="ngModel" name="searchTerm" [(ngModel)] = "searchTerm" type="text" class="form-control" placeholder="Search" required minlength="3">
	</div>

	<div *ngIf="searchInput.invalid && (searchInput.dirty || searchInput.touched)"
     class="alert alert-danger">
      <div *ngIf="searchInput.errors.required">
       Search term is required.
      </div>
      <div *ngIf="searchInput.errors.minlength">
        Search term must be at least 3 characters long.
      </div>
    </div>
	
	<button type="submit" class="btn btn-outline-success" name="submit" [disabled]="!searchForm.form.valid">Submit</button>

	

</form>